html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'source-code-pro';
}

hr.tiny {
    max-width: 90px;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700
}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover, .btn-light:focus, .btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../imgs/wood_bg.jpg) no-repeat center center scroll;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about {
    padding: 50px 0;
}

.profiles {
    padding: 50px 0;
}

.profile-link {
    padding: margin-bottom: 30px;
}
